.container {
    margin-bottom: 100px;
}


/* Carousel Design */


.orange-bg {

    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item {

    padding: 20px 40px;
    height: 562px;

}

.buy-now-button {
    background-image: linear-gradient( to bottom, #FF589B 0% , #FF136F 100% );
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.price {
    color: #FF136F;
}

.cat1 {
    background-color: orange;
}

.cat2 {
    background-color: olive;
}

.cat3 {
    background-color: blueviolet;
}

.cat1 , .cat2 , .cat3 {
  padding: 10px 30px;
  border-radius: 15px;
}

.categories h1{
   color: white;
}

.categories img {
    width: 100px;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}

.card-footer {
    background-color: white;
    border-top: none;
}

#subscribe {
    height: 300px;
}

#subscribe h6 {
       
    color: gray;


}

#subscribe button {
    margin-top: 5px;
}

footer {
    text-align: center;
    font-weight: 200;
}






